<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header>
		<ion-navbar>
		  <ion-title>
			Map
		  </ion-title>
		  <ion-buttons end>
			<button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
		  </ion-buttons> 
		</ion-navbar>
	  </ion-header>
	   
	  <ion-content>
		<div #map id="map"></div> 
	  </ion-content> -->
<ion-header>
<ion-nav>
	
</ion-nav>


</ion-header>


<ion-content>
		
		
<main class="">
		<div class="bg_color" style="left: 0;
		top: 0;
		right: 0;
		bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;">
			<div class="container">
				<div class="login_logo">
					<img src="./assets/img/logo.png" title="Arab Call" alt="Arab Call">
				</div>
				<div class="login_form">
					<form class="form" method="post" [formGroup] = "userForm" (ngSubmit) = "login(userForm)">
						<div class="form_input">
							<input type="email"  placeholder="Email" formControlName = "username" name = "username">
							<!-- <p [class.active] = "validateEmail(this.userForm.value.username)"  style="color : white ;    margin-top: 10px;" > Email Is Not Valid </p> -->
						</div>

						<div class="error" style="color : white ; margin-top: 10px;" *ngIf="userForm.get('username').hasError('required') || userForm.get('username').touched && x=='true' ">
								Email is required
								</div>
								<div class="error" style="color : white ;    margin-top: 10px;" *ngIf="userForm.get('username').hasError('pattern') || userForm.get('username').touched && x=='true' ">
										Email Is Not Valid
								</div>
						<div class="form_input">
				 <input type="password" placeholder="Password" formControlName = "password" name = "password">
						</div>
						 <!-- <input type="password" placeholder="Password" formControlName = "password" name = "password"> --> 
						
						<div class="error" style="color : white ;    margin-top: 10px;" *ngIf="userForm.get('password').hasError('required') || userForm.get('password').touched && x=='true' ">
								Password is required
								</div>
								<div class="error" style="color : white ;    margin-top: 10px;" *ngIf="userForm.get('password').hasError('minlength') || userForm.get('password').touched && x=='true' ">
								Minimum of 6 characters
								</div>
							
						<div class="form_input">
							<input type="submit" value="LOGIN" >
						</div>
					</form>
				</div>
			</div>
			<div class="pserator_or"><h3>OR</h3></div>
			<div class="container">
				<div class="crt_acont">
					
					<a (click)="creat()">CREATE ACCOUNT</a>
         
				</div>
			</div>
		</div>
	</main>
</ion-content>
